.description{style: 'margin: 40px 0;'}
  = @schem.name
  - if @schem.unlisted?
    %span{:class => 'label label-info'} Unlisted

/= @schem
.row
  .col-xs-8
  .col-xs-4.view-sidebar
    Block Count:
    %strong= @schem.width * @schem.height * @schem.length
    %br
    Dimensions:
    %strong= "#{@schem.width} x #{@schem.height} x #{@schem.length}"
    %br
    Entities:
    %strong= @schem.entity_count
    %br
    Block Occurrences:
    %br
    - @schem.block_occurrences.sort_by{|k,v| v}.reverse.each do |pair|
      - block = pair[0]
      - num = pair[1]
      %small
        = block_image block
        = icon :times, size=1, :fw
        %strong= num
        %br


