.container
  %ul.clean-btn{style: 'margin-top: 30px;'}
    - if params[:controller] != 'home'
      %li
        %a.clean-btn{href: '/'}
          = icon :home
          Back

    .pull-right
      %a.clean-btn{href: '/upload', rel: 'tooltip', title: 'Upload Schematic'}
        &nbsp;
        = icon :cloud_upload
        &nbsp;
      - if !params[:controller].include? 'devise'
        - if user_signed_in?
          .dropdown
            %a.clean-btn.dropdown-toggle#userdropdown{'data-toggle' => 'dropdown', href: ''}
              = icon :user
              = current_user.email
            %ul.dropdown-menu{'aria-labelledby' => 'userdropdown'}
              %li
                %a.dropdown-item{href: '/creations'}
                  = icon :archive
                  Your Creations
              %li
                = link_to(icon(:sign_out, size=1, :fw) + ' Sign out', destroy_user_session_path, :method => 'delete', :class => 'dropdown-item')

        - else
          %a.clean-btn{href: '/users/sign_in'}
            = icon :sign_in, size=1, :fw
            Sign In