%head
  %title CraftBin
  %link{href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700', rel: 'stylesheet'  }
  %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", :rel=>"stylesheet"}
  %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css", rel: 'stylesheet'}
  %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  = render 'layouts/partials/flashes'
  = render 'layouts/partials/navpills'
  .container
    = yield
  = render 'layouts/partials/footer'
  %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}

:javascript
  $(document).ready(function(){
      $("[rel=tooltip]").tooltip({ placement: 'top'});
  });